<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
    <link href = "/css/normalize.css" rel="stylesheet">
    <link href = "/css/styles.css" rel="stylesheet">
    
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
    <div class="top-header">
        <img class="logo" src="/Image/logo-mercado-liebre.svg" alt="logo"width="350px">
        <div class="buscador"> 
            <div class="input">Buscar productos, marcas</div>
            <div class="lupa"><i class="fa fa-search"></i></div>
        </div>
    </div>
        <p> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav><ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul></nav>
        <nav>
            <ul>
            <li><a href="#">Creá tu cuenta </a><i class="far fa-id-card"></i> </li>
            <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>  
            <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burguer-menu"> 
            <i class="fa-solid fa-bars"></i>
        </div>  
    </header>

<main id="formulario-registro">
    <form class="formularios" action="/" method="get">
        <div>
            <input class="text-field" type="text" name="nombreCompleto" placeholder="nombre y apellido">
        </div>
       <div>
             <input class="text-field" type="text" name="usuario" placeholder="nombre de usuario">
       </div>
        <div>
            <label for="nacimiento"> fecha de nacimiento</label>
            <input type="date" id="nacimiento" name="nacimiento">
        </div>
        <div>
            <input class="text-field" type="email" name="email" placeholder="E-mail">
        </div>
        <div>
            <input class="text-field" class="text-field" type="text" name="domicilio" placeholder="Calle x 123">
        </div>
       
        <h3>Tipo de perfil</h3>
       <div class="selecciones">
            <div>
            <input type="radio" name="perfil" value="comprador" id="comprador">
            <label for="comprador">comprador</label>
            </div>
            <div>
            <input type="radio" name="perfil" value="vendedor" id="vendedor">
            <label for="comprador">vendedor</label>
            </div>
        </div>
        <h3>Intereses</h3>
        <div class="selecciones">
            <div>
                <input type="checkbox" name="interes" value="electro" id="electro">
                <label for="electro">Electro</label>
            </div>
            <div>
                <input type="checkbox" name="interes" value="moda" id="moda">
                <label for="moda">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="interes" value="hogar" id="hogar">
                <label for="hogar">Hogar</label>
            </div>
            <div>
                <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                <label for="jugueteria">Juguetería</label>
            </div>
            <div>
                <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
                <label for="vidasana">Vida Sana</label>
            </div>
        </div>
        <div>
            <label for="fotoPerfil">Foto de usuario</label>
            <input type="file" name="fotoPerfil" id="fotoPerfil">
        </div>
        <div>
            <input class="text-field" type="password" name="contrasenia" placeholder="contraseña">
        </div>
        <div>
            <input class="text-field" type="password" name="contraseniaaConfirmar" placeholder="Confirmar contraseña">
        </div>
        <div>
            <button class="botonForm botonSubmit" type="submit">Enviar</button>
            <button class="botonForm botonReset" type="reset">Cancelar</button>
        </div>

</main>


<footer>
            <article>
                <div class="credit-card"><i class="fas fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

<article>
<div class="gift"><i class="fas fa-gift"></i></div>
<h3>Envío gratis desde $ 2.500</h3>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>
</article>

<article>

<div class="safety"><i class="fas fa-user-shield"></i></div>
<h3>Seguridad, de principio a fin</h3>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
</article>

<h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

</footer>

</body>
</html>



